Incorrect handling of blocked streams.

Right now the priority library searches to find which streams are unblocked by recursing down the priority tree. It does so because of some wording in RFC 7540 Section 5.3.4, specifically:

> For example, assume streams A and B share a parent, and streams C and D both depend on stream A. Prior to the removal of stream A, if streams A and D are unable to proceed, then stream C receives all the resources dedicated to stream A.

However, an erratum has been filed against RFC 7540 pointing out that this is in contradiction to some text earlier in that section:

> Resources are shared between streams with the same parent stream, which means that if a stream in that set closes or becomes blocked, any spare capacity allocated to a stream is distributed to the immediate neighbors of the stream.

This means we likely need to change our strategy for iterating the tree.