priority doesn’t enforce rules about weight limits

[RFC 7540 § 5.3.2](https://tools.ietf.org/html/rfc7540#section-5.3.2):

> All dependent streams are allocated an integer weight between 1 and 256 (inclusive).

But it’s possible to construct a `PriorityTree` instance with utterly nonsensical weights:

```python
import priority

p = priority.PriorityTree()

bad_weights = [0, -100, None, 0.5, float('inf'), 'fooble', object]

for stream_id, bad_weight in enumerate(bad_weights, start=1):
    p.insert_stream(stream_id=stream_id, weight=bad_weight)
```

Should `PriorityTree` do a better job of enforcing rules around what’s a valid weight?

Yeah, probably. This wasn't a concern for me at the time because I was thinking mostly of the interaction with hyper-h2, which enforces these rules via the `struct` module in hyperframe. But we should probably do that validation here too.