Handle idle streams.

Spotted in the [Twisted HTTP/2 server](https://twistedmatrix.com/trac/ticket/8874).

Per RFC 7540 § 5.3.4:

> Similarly, streams that are in the "idle" state can be assigned priority or become a parent of other streams.  This allows for the creation of a grouping node in the dependency tree, which enables more flexible expressions of priority.  Idle streams begin with a default priority (Section 5.3.5).

So, this means that it's possible that a user will receive a PRIORITY frame marking a stream as dependent on a stream that has not itself been prioritized yet. This is not *forbidden*, it's just kinda dumb.

Probably, then, the priority tree should automatically insert the parent stream into the tree with default priority. 