priority does not block a stream being dependent on itself

[RFC 7540 § 5.3.1](https://tools.ietf.org/html/rfc7540#section-5.3.1):

> A stream cannot depend on itself.  An endpoint MUST treat this as a stream error (Section 5.4.2) of type PROTOCOL_ERROR.

But priority doesn’t block you from doing this. We can construct a stream, then reprioritise the tree so that it depends upon itself, and priority won’t explain:

```python
import priority

p = priority.PriorityTree()
p.insert_stream(stream_id=1)
p.reprioritize(stream_id=1, depends_on=1)

# Assert that stream 1 really does depend on itself
stream_0 = p._streams[0]
stream_1 = p._streams[1]

assert len(stream_0.children) == 0
assert stream_1.parent is stream_1
```

If you insert a second stream, and reprioritise the tree so that the second stream depends on the circular loop, we get an appropriate `PriorityLoop` exception.

```python
import priority

p = priority.PriorityTree()
p.insert_stream(stream_id=1)
p.reprioritize(stream_id=1, depends_on=1)

p.insert_stream(stream_id=2)
p.reprioritize(stream_id=2, depends_on=1)
```

whence priority detects the priority loop:

```
Traceback (most recent call last):
  File "demo.py", line 8, in <module>
    p.reprioritize(stream_id=2, depends_on=1)
  File "/Users/alexwlchan/projects/priority/src/priority/priority.py", line 350, in reprioritize
    cycle = stream_cycle(new_parent, current_stream)
  File "/Users/alexwlchan/projects/priority/src/priority/priority.py", line 335, in stream_cycle
    "Stream %d is in a priority loop." % new_parent.stream_id
priority.priority.PriorityLoop: Stream 1 is in a priority loop.
```

Unless I’ve misread RFC 7540 or misunderstood priority, I feel like priority should raise a `PriorityLoop` exception on the following line:

```python
p.reprioritize(stream_id=1, depends_on=1)
```

An interesting side note from debugging this: priority doesn’t notice the priority loop when you first insert the stream, it only notices when you reprioritise. The following example runs cleanly:

```python
import priority

p = priority.PriorityTree()
p.insert_stream(stream_id=1)
p.reprioritize(stream_id=1, depends_on=1)

p.insert_stream(stream_id=2, depends_on=1)
```

When we insert a stream, either that stream is already in the tree (so we throw a `DuplicateStreamError`) or it’s not, in which case it can’t be part of a priority loop, because we assume that:

1. The existing tree is priority loop-free, and
2. Nothing in the existing tree can depend on this stream.

In this case, assumption (1) doesn’t hold.

Yeah, this is definitely wrong.

Note that priority deliberately doesn't reject the establishing of a priority loop in `reprioritize`: instead, it tries to cope with it. That code is clearly not right in several cases.

I think fixing this is outside the scope of "easy", so I'll not flag it as help wanted. I'll try to tackle this next week if no-one else wants to take a shot at it.

Actually, further investigation reveals that this was pretty easy: we just want to raise `PriorityLoop` when a stream is forced to depend on itself.

RFC 7540 § 5.3 deals with this in two separate places. In § 5.3.1:

> A stream cannot depend on itself.  An endpoint MUST treat this as a stream error (Section 5.4.2) of type PROTOCOL_ERROR.

In § 5.3.3:

> If a stream is made dependent on one of its own dependencies, the formerly dependent stream is first moved to be dependent on the reprioritized stream's previous parent.  The moved dependency retains its weight.

So `stream_cycle` deals with the requirement from 5.3.3, we just need to expressly forbid the behaviour in § 5.3.1. So I'll do that.

I just checked, and hyper-h2 rejects receiving and sending a frame that violates § 5.3.1, so anyone using hyper-h2 is protected against this kind of stupidity. This just doubles up that enforcement here.